:root {
  --background-color: #3a6ad5;
  --primary-color: white;
  --text-color: #304659;
  --placecholdeer-color: #696f8c;
  --border-bottom-color: #9fa3b4;
}
.manage-wrap {
  color: var(--text-color);
  margin-top: 50px;
  margin-bottom: 50px;
}
.manage-header {
  font-size: 30px;
  font-weight: 700;
}
.manage-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.manage-content-header {
  font-size: 22px;
  font-weight: 600;
}
.manage-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manage-item {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.manage-wrap .room-info {
  color: inherit;
  text-decoration: none;
  display: flex;
  gap: 20px;
}
.manage-wrap .room-picture {
  flex: 1;
}
.manage-wrap .room-picture img {
  width: 100%;
  aspect-ratio: 1.1;
  border-radius: 10px;
}
.manage-wrap .room-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.manage-wrap .room-name {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.room-status {
}
.room-location {
}
.manage-wrap .date {
  width: 100%;
  height: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manage-wrap .date-header {
  font-size: 16px;
}
.manage-wrap .date-des {
  color: var(--text-color);
  font-size: 16px;
}
.manage-wrap .price {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manage-wrap .price-header {
  font-weight: 600;
}
.manage-wrap .delete {
  height: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.manage-wrap .delete img {
  cursor: pointer;
  transition: all 0.3s ease;
  width: 24px;
  height: 24px;
  opacity: 0.8;
}
.manage-wrap .delete img:hover {
  scale: 1.1;
}
.manage__content {
  margin-bottom: 100px;
}
