@media (max-width: 767px) {
  .picture-big img {
    border-radius: 10px;
  }
  .footer__detail .footer {
    margin-bottom: 100px;
  }
  .info-booking {
    display: none;
  }
  .info-booking-mobile {
    display: flex;
  }
  .info-cover-detail {
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .info-cancel-detail {
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .info-rules-detail {
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .cover-detail-list {
    flex-direction: column;
  }
  .cover-detail-item {
    width: 100%;
  }

  /*contact-detail*/
  .info-contact-detail {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .cover-detail-list {
    flex-direction: column;
  }
  .cover-detail-item {
    width: 100%;
  }
  iframe {
    max-width: 100%;
  }
  .picture-big {
    height: 286px;
  }
  .picture-small {
    height: 141px;
  }
  .share__menu-wrap {
    left: 0 !important;
    right: 0 !important;
    top: 5%;
    bottom: 0;
  }
.share__menu--info--picture img{
  width: 100px !important;
}
  /*mobile-user-menu*/
}
@media (max-width: 991px) {
  .info-booking {
    width: 100%;
  }
  .come,
  .leave {
    display: block;
  }
  .info-date .flatpickr-month:nth-of-type(2) {
    display: none;
  }
  .info-date .dayContainer:nth-of-type(2) {
    display: none;
  }
  .info-date .flatpickr-weekdaycontainer:nth-of-type(2) {
    display: none;
  }
  .flatpickr-calendar {
    width: 309px !important;
  }
  .info-date .flatpickr-weekdays {
    width: 50%;
  }

  .picture-big {
    height: 386px;
  }
  .picture-small {
    height: 191px;
  }
  .share__menu-wrap {
    left: 20%;
    right: 20%;
    height: unset !important;
  }
  .share__menu {
    padding: 20px !important;
    padding-top: 40px !important;
  }
  .share__menu--way--item {
    width: 200px;
    height: 60px;
  }
}
@media (max-width: 1024px) {
  .share__menu-wrap {
    left: 20%;
    right: 20%;
    height: fit-content !;
  }
  
}
